#table-test {
    display: block;
}

textarea {
    resize: vertical;
}

.line {
    padding: 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    align-content: center;
    border-radius: 4px;
    background-color: #d9edf7;
}

.line .src.form-control {
    width: 47.5%;
}

.line .dest.form-control {
    width: 47.5%;
}

.line .control-buttons {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#test-saver #options.panel-group, #test-loader #options.panel-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: baseline;
    justify-items: stretch;

}

@media (min-width: 768px) {
    .nav-justified li.nav-item {
        display: inline-block;
        width: 25%;
    }

    .nav-justified li.nav-item:hover {
        background-color: black;
    }    
}

@media only screen and (max-width: 768px){
    .line {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .line .src.form-control {
        width: 100%;
    }
    
    .line .dest.form-control {
        width: 100%;
    }
    
    .line .control-buttons {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    #test-saver #options {
        grid-template-columns: 1fr;
    }
}